input.ng-touched.ng-invalid{
  border: 1px solid red;
}
.error{
  color: red;
  font-size: small;
}
.container-login {
  margin-top: 80px;
}
.container {
  background: url(../../assets/login-fondo.jpg);
  background-size: cover;
  width: 100%;
  height: 1000px;
  align-items: left;
}
